test_results:
  source: xunit
  jenkins: # TODO: Add Jenkins support
    url: 'http://jenkins.domain.com'
    version_artifact: 'version.yaml.txt'
  xunit:
    filename: nosetests.xml
  xunit_items:
    filename: nosetests_items.xml
    case_name: 'case_name'

testrail:
  url: 'https://mirantis.testrail.com'
  username: 'user@example.com'
  password: 'password'
  project: 'Test Project'
  milestone: 'Version 1.0'
  suite: 'Test Suite ${testrail.milestone}'
  plan: '${testrail.project} ${testrail.milestone}'
  run: '${testrail.suite} ($(testrail.suite_configuraton))'
  suite_configuraton: 'Configuration info'
  plan_description: 'Test plan info'
  run_description: 'Run ${testrail.suite}
    on ISO [#${env["ISO_ID"]}](${env["ISO_LINK"]})

    [${env["JOB_NAME"]}](${env["JOB_URL"]})'
  test_section: 'All' # TODO: Add TestRail Suite section support
  test_include: null # TODO: Add Include or Exclude test cases from reporting
  test_exclude: null
  automated_cases: True
logging:
  log_destination: 'both'  # both, file, console
  log_level: 'DEBUG'
  log_file: './trep.log'
  max_bytes: ${10*1024*1024} # 10MB
  backup_count: 10


# TODO: Future improvemets regarding to Lauchpad bugs
#launchpad:
#    project: 'LP Project name'
#    milestone: '2.0'
#    release_statuses:
#      released: 'Fix Released'
#      invalid: 'Invalid'
